<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DBEntities" connectionString="metadata=res://*/Entities.DBModel.csdl|res://*/Entities.DBModel.ssdl|res://*/Entities.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4dapps.net\SQL2017;initial catalog=ProjectsDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBEntities" connectionString="metadata=res://*/Entities.DBModel.csdl|res://*/Entities.DBModel.ssdl|res://*/Entities.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ProjectsDBGIS2019;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBEntities" connectionString="metadata=res://*/Entities.DBModel.csdl|res://*/Entities.DBModel.ssdl|res://*/Entities.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TKK8V5H\SQL2017;initial catalog=ProjectsDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProjectsEntities" connectionString="metadata=res://*/Entities.Projects.ProjectModel.csdl|res://*/Entities.Projects.ProjectModel.ssdl|res://*/Entities.Projects.ProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TKK8V5H\SQL2017;initial catalog=ProjectsDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeDBGIS2019Entities" connectionString="metadata=res://*/Entities.Employees.EmployeeModel.csdl|res://*/Entities.Employees.EmployeeModel.ssdl|res://*/Entities.Employees.EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TKK8V5H\SQL2017;initial catalog=EmployeeDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TODoListGISEntities" connectionString="metadata=res://*/Entities.ToDoList.ToDoListModel.csdl|res://*/Entities.ToDoList.ToDoListModel.ssdl|res://*/Entities.ToDoList.ToDoListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TKK8V5H\SQL2017;initial catalog=TODoListGIS;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
        <!--Server Connection Strings -->
    <add name="DBEntities" connectionString="metadata=res://*/Entities.DBModel.csdl|res://*/Entities.DBModel.ssdl|res://*/Entities.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4dapps.net\SQL2017;initial catalog=ProjectsDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProjectsEntities" connectionString="metadata=res://*/Entities.Projects.ProjectModel.csdl|res://*/Entities.Projects.ProjectModel.ssdl|res://*/Entities.Projects.ProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4dapps.net\SQL2017;initial catalog=ProjectsDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeDBGIS2019Entities" connectionString="metadata=res://*/Entities.Employees.EmployeeModel.csdl|res://*/Entities.Employees.EmployeeModel.ssdl|res://*/Entities.Employees.EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4dapps.net\SQL2017;initial catalog=EmployeeDBGIS2019;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TODoListGISEntities" connectionString="metadata=res://*/Entities.ToDoList.ToDoListModel.csdl|res://*/Entities.ToDoList.ToDoListModel.ssdl|res://*/Entities.ToDoList.ToDoListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=4dapps.net\SQL2017;initial catalog=TODoListGIS;persist security info=True;user id=sa;password=4Dapp2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>